## Natural Language Processing for Rating prediction

**In this project I have used nltk library for predicting the rating for the service through the comments of the customer**

In this project I have used dataset from yelp.com. Yelp is publishing crowd-sourced reviews about businesses.This dataset is available on kaggle.In this project I attempted to classify Yelp Reviews into 1 star or 5 star categories based off the text content in the reviews. 

Each observation in this dataset is a review of a particular business by a particular user.

The "stars" column is the number of stars (1 through 5) assigned by the reviewer to the business. In other words, it is the rating of the business by the person who wrote the review.

## 1. Importing libraries

In [45]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

## 2. Impoting dataset of customer reviews

In [2]:
df = pd.read_csv('yelp.csv')

In [77]:
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

## 3. Data processing

**3.1 Converting Dataset into binary classification format by keeping the datapoints for highest(5) and lowest(1) stars**

In [153]:
new_df = df[(df.stars==1) | (df.stars==5)]

In [154]:
new_df.reset_index(inplace =True )

**3.2 Importing libraries for data processing**

In [48]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
lemmatizing = WordNetLemmatizer()

**3.3 Using Regular Expresson (re) and nltk library for data processing**

3.3.1 Removing all punctuations from dataset

3.3.2 Converting all words to lower case format

3.3.3 Preparing list of words from sentences

3.3.4 Removing stopwards from dataset

3.3.5 Lemmatizing the words

3.3.6 Joining all the words to form the sentence

3.3.7 Collecting Processed data into 'data'

In [158]:
data =[]
for i in range(0, len(new_df)):
    corrected_data = re.sub('[^a-zA-Z]',' ',new_df['text'][i])
    corrected_data = corrected_data.lower()
    corrected_data = corrected_data.split()
    
    corrected_data = [lemmatizing.lemmatize(word) for word in corrected_data if word not in set(stopwords.words('english'))]
    corrected_data = ' '.join(corrected_data)
    data.append(corrected_data)

**3.4 Coverting Strings into numerical vector format with Countverctorizer**

In [177]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizing = CountVectorizer()
X = vectorizing.fit_transform(data)
y = new_df.stars

## 4.Model training and Evaluation

**4.1 Splitting dataset in the form of Training and Testing dataset using train_test_split method**

In [165]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

**4.2 Training the model with naive_bayes classification Algorithm**

In [178]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [179]:
model.fit(X_train,y_train)

MultinomialNB()

**4.3 Predicting the value for test dataset**

In [180]:
y_predict = model.predict(X_test)

**4.4 Evaluating the result using confusion_matrix, classification_report**

In [181]:
print(confusion_matrix(y_predict,y_test))
print(classification_report(y_predict,y_test))

[[160  33]
 [ 68 965]]
              precision    recall  f1-score   support

           1       0.70      0.83      0.76       193
           5       0.97      0.93      0.95      1033

    accuracy                           0.92      1226
   macro avg       0.83      0.88      0.86      1226
weighted avg       0.93      0.92      0.92      1226